! Benjamin Michael Taylor (bentaylorhk)
! 2025

#include "/home/ben/.Xresources.d/choihung.xcolors"

Xft.antialias: 0
Xft.rgba: none
Xft.hinting: 1
Xft.hintstyle: hintfull

! dpi, for text scaling on small screen
Xft.dpi: 120
