; Benjamin Michael Taylor (bentaylorhk)
; 2025

; To be copied into /etc/systemd/system/*.service

[Unit]
Description=polyOS Boot Animation
Before=getty@tty1.service
After=systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/boot-animation.sh
StandardOutput=tty
RemainAfterExit=yes
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
